<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="pgc-1499-1-0" class="panel-grid-cell">
        <aside class="widget">
            <div class="-hd -hd-widget-parsed -hd-widget -hd-rd-mobile">
                <div class="-hd-los -hd-los-schedule">
                    <div class="-hd-util-intellitable -hd-los-schedule-table">
                        <div class="-hd-util-intellitable-scroll-help" style="display: block;">Scroll right to view more
                            content</div>
                        <div class="-hd-util-intellitable-data">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="-hd-util-intellitable-date-value -hd-los-schedule-scheduled-date -hd-clickable"
                                            title="Geplantes Datum" key="shortValue">Datum</th>
                                        <th class="-hd-util-intellitable-time-value -hd-los-schedule-scheduled-time -hd-clickable"
                                            title="Geplante Uhrzeit">Zeit</th>
                                        <th class="-hd-los-schedule-home-team-name -hd-los-schedule-team-name-long -hd-clickable"
                                            title="Heimteam">Heim</th>
                                        <th class="-hd-los-schedule-home-team-name -hd-los-schedule-team-name-short -hd-clickable"
                                            title="Heimteam">Heim</th>
                                        <th
                                            class="-hd-los-schedule-team-logo -hd-los-schedule-home-team-logo -hd-clickable">
                                            &nbsp;</th>
                                        <th
                                            class="-hd-los-schedule-home-team-score -hd-los-schedule-score -hd-util-intellitable-numeric-value -hd-clickable">
                                            &nbsp;</th>
                                        <th class="-hd-clickable">&nbsp;</th>
                                        <th
                                            class="-hd-los-schedule-away-team-score -hd-los-schedule-score -hd-util-intellitable-numeric-value -hd-clickable">
                                            &nbsp;</th>
                                        <th class="-hd-clickable">&nbsp;</th>
                                        <th
                                            class="-hd-los-schedule-team-logo -hd-los-schedule-home-team-logo -hd-clickable">
                                            &nbsp;</th>
                                        <th class="-hd-los-schedule-away-team-name -hd-los-schedule-team-name-short -hd-clickable"
                                            title="Gastteam">Gast</th>
                                        <th class="-hd-los-schedule-away-team-name -hd-los-schedule-team-name-long -hd-clickable"
                                            title="Gastteam">Gast</th>
                                        <th title="Ort" class="-hd-clickable">Ort</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="-hd-los-schedule-row-8d36e21f-4898-41e5-aed0-6a6328eaca4e"
                                        id="8d36e21f-4898-41e5-aed0-6a6328eaca4e">
                                        <td class="-hd-los-schedule-col-scheduledDate -hd-util-intellitable-date-value -hd-los-schedule-scheduled-date"
                                            sortvalue="1677267000000" value="24.02.2023">24.02.2023</td>
                                        <td class="-hd-los-schedule-col-scheduledTime -hd-util-intellitable-time-value -hd-los-schedule-scheduled-time"
                                            value="20:30">20:30</td>
                                        <td class="-hd-los-schedule-col-homeTeamLongname -hd-los-schedule-home-team-name -hd-los-schedule-team-name-long"
                                            value="SG Timmendorf/Rostock">SG Timmendorf/Rostock</td>
                                        <td class="-hd-los-schedule-col-homeTeamShortname -hd-los-schedule-home-team-name -hd-los-schedule-team-name-short"
                                            value="CTR">CTR</td>
                                        <td class="-hd-los-schedule-col-homeTeamLogo -hd-util-intellitable-inline-image -hd-los-schedule-team-logo -hd-los-schedule-home-team-logo"
                                            value="[object HTMLImageElement]"><img
                                                src="https://api.hockeydata.net/img/icehockey/ebel/team-logos/10394/21227.png">
                                        </td>
                                        <td class="-hd-los-schedule-col-homeTeamScore -hd-los-schedule-home-team-score -hd-los-schedule-score -hd-util-intellitable-numeric-value"
                                            value="-">-</td>
                                        <td class="-hd-los-schedule-col-scoreDivider -hd-los-schedule-score-divider"
                                            value=":">:</td>
                                        <td class="-hd-los-schedule-col-awayTeamScore -hd-los-schedule-away-team-score -hd-los-schedule-score -hd-util-intellitable-numeric-value"
                                            value="-">-</td>
                                        <td class="-hd-los-schedule-col-scoreInfo" value="&amp;nbsp;">&nbsp;</td>
                                        <td class="-hd-los-schedule-col-awayTeamLogo -hd-util-intellitable-inline-image -hd-los-schedule-team-logo -hd-los-schedule-away-team-logo"
                                            value="[object HTMLImageElement]"><img
                                                src="https://api.hockeydata.net/img/icehockey/ebel/team-logos/10394/40580.png">
                                        </td>
                                        <td class="-hd-los-schedule-col-awayTeamShortname -hd-los-schedule-away-team-name -hd-los-schedule-team-name-short"
                                            value="HSV">HSV</td>
                                        <td class="-hd-los-schedule-col-awayTeamLongname -hd-los-schedule-away-team-name -hd-los-schedule-team-name-long"
                                            value="Hamburger SV">Hamburger SV</td>
                                        <td class="-hd-los-schedule-col-locationLongname" value="Eishalle Rostock">
                                            Eishalle Rostock</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="-hd-util-intellitable-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>

        </aside>

    </div>
</body>

</html>